# a list of files ignored
*.old
test*
mobot*
# in code/chnxt/
*.chf
!chnxt.chf
*.obj
*.lib
*.manifest
*.exp
# in code/demos/Windows
#code/demos/iMobotController_Windows/
#!code/demos/iMobotController_Windows/iMobotController_Windows/*.cpp
#!code/demos/iMobotController_Windows/iMobotController_Windows/*.h
# in docs/
*.aux
*.dvi
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.ppt
*.sty
*.doc
*.txt
